# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build and Output
dist/
.astro/

# Environment Variables
.env
.env.*
.env.local

# MacOS / OS specific
.DS_Store
Thumbs.db

# Project Specific Documentation / Exclusions
Belgeler/
BASIBOZUK_BELLEK.md
